.buttons {
    position: relative;
    width: 400px;
    height: 57px;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 35%;
    background: #026560;
    color: white;
    border-radius: 50px;
    display: inline-block;
}

.buttons:hover {
    background: white;
    color: #026560;
}

.heading {
    position: relative;
    text-align: right;
    height: 15%;
    left: 15%;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    color: #054F50;
}

#options {
    margin-bottom: 10;
}

#notification-box {
    position: fixed;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #85c9b4;
    padding: 20px;
    border-radius: 5px;
    display: none;
    opacity: 0.8;
}

#notification-message {
    color: #333;
    font-size: 18px;
}