{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/design.css' %}" rel="stylesheet">


<div id="options" style="display: none">
        
    <div id="notification-box">
        <div id="notification-message">This is a notification message.</div>
      </div>
      
    <h2 class="heading"> Pick an action! </h2>
    <button onclick="window.location.href='/design/route/'"  class="buttons"> Route operations</button>
    
    <button onclick="window.location.href='/design/StopOp/'" class="buttons"> Bus operations </button>
    
    <button onclick="window.location.href='/design/schedule/'" class="buttons"> Schedule operations</button>
   
    <button onclick="window.location.href='/design/map/'" class="buttons"> Map operations</button>
    
    <button onclick="window.location.href='/design/line'" class="buttons"> Line operations</button>
    
    <button onclick="window.location.href='/simulate'" class="buttons">Simulation run</button>
   
</div>

{% load static %}
<script src="{% static 'js/design.js' %}"></script>
{% endblock content %}