{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/notifs.css' %}" rel="stylesheet">
<div id="page" style='display: none'>
  <div id="notification-box">
    <div id="notification-message">This is a notification message.</div>
  </div>
  <h1>Map Operations</h1>
<h2>To add a Map:</h2>
<form  method="post">
    <input type="hidden" name="func_name" value="add_map">
    {% csrf_token %}
   
    <div>
      <label for="type">Type of Map:</label>
      <input class="input-field" type="text" id="type" name="type" required>
    </div>
    <div>
      <label for="mmap">Map:</label>
      <input class="input-field" type="text" id="mmap" name="mmap" required>
    </div>
    
    <button type="submit">Add Map</button>
  </form>

  <br>

  <h2>To get current Maps:</h2>
  <form  method="post">
    <input type="hidden" name="func_name" value="get_maps">
      {% csrf_token %}
      <button type="submit">Get Maps</button>
  </form>
  <br>

  <h2>To get a specific Map:</h2>
  <form  method="post">
    <input type="hidden" name="func_name" value="get_map">
    {% csrf_token %}
    <div>
      <label for="mapid">Map id:</label>
      <input class="input-field" type="text" id="mapid" name="mapid" required>
    </div>
    
    <button type="submit">Get Map</button>
  </form>
    <br>
  <h2>To register to a specific Map:</h2>
  <form  method="post">
    <input type="hidden" name="func_name" value="register_to_map">
    {% csrf_token %}
    <div>
      <label for="mapid">Map id:</label>
      <input class="input-field" type="text" id="mapid" name="mapid" required>
    </div>
    
    <button type="submit">Register to Map</button>
  </form>
</div>
{% load static %}
<script src="{% static 'js/formhandle.js' %}"></script>
{% endblock content %}