{% extends "base.html" %}
{% block content %}


{% load static %}
<link href="{% static 'css/notifs.css' %}" rel="stylesheet">
<div id="page" style='display: none'>
  <div id="notification-box">
    <div id="notification-message">This is a notification message.</div>
  </div>
<center>
    <h1>Welcome To The Simulation of busSys!</h1>
   <h3>This simulation might take up to 10 mins to finish </h3>
    <form method="post">
        <input type="hidden" name="func_name" value="simulate">
        {% csrf_token %}
        <div>
            <label for="sch_num">Schedule Number To simulate:</label>
            <input type="text" id="sch_num" name="sch_num" required>
        </div>
        <br>
        <div>
            <label for="start_time">Simulation start time:</label>
            <input type="text" id="start_time" name="start_time" required>
        </div>
        <br>
        <div>
            <label for="end_time">Simulation end time:</label>
            <input type="text" id="end_time" name="end_time" required>
        </div>
        <br>
        <button type="submit">Start Simulation</button>
    </form>
</center>



</div>
{% load static %}
<script src="{% static 'js/formhandle.js' %}"></script>

{% endblock content %}