{% extends "base.html" %}
{% block content %}

{% load static %}
<link href="{% static 'css/notifs.css' %}" rel="stylesheet">
<div id="page" style='display: none'>
  <div id="notification-box">
    <div id="notification-message">This is a notification message.</div>
  </div>
  <h1>Stop Operations</h1>
<h2>To add some Bus Stop:</h2>
<form method="post" >
  <input type="hidden" name="func_name" value="add_stop">
    {% csrf_token %}
    <div>
      <label for="scheduleid">Schedule id:</label>
      <input type="text" id="scheduleid" name="scheduleid" required>
    </div>
    <div>
      <label for="edgeID">Edge Id:</label>
      <input type="text" id="edgeID" name="edgeID" required>
    </div>
    <div>
      <label for="direction">Direction:</label>
      <input type="text" id="direction" name="direction" required>
    </div>
    <div>
      <label for="percentage">Percentage:</label>
      <input type="text" id="percentage" name="percentage" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required>
    </div>
    <button type="submit">Add</button>
  </form>

  <br>

  <h2>To get current Bus Stops:</h2>
  <form method="post">
    <input type="hidden" name="func_name" value="get_stops">
      {% csrf_token %}
      <div>
        <label for="scheduleid">Schedule id:</label>
        <input type="text" id="scheduleid" name="scheduleid" required>
      </div>
      
      <button type="submit">Get</button>
  </form>
  <br>

  <h2>To delete some Bus Stop:</h2>
  <form method="post">
    <input type="hidden" name="func_name" value="del_stop">
    {% csrf_token %}
    <div>
      <label for="scheduleid">Schedule id:</label>
      <input type="text" id="scheduleid" name="scheduleid" required>
    </div>
    <div>
      <label for="stopid">Stop id:</label>
      <input type="text" id="stopid" name="stopid" required>
    </div>
    <button type="submit">Delete</button>
  </form>
</div>
{% load static %}
<script src="{% static 'js/formhandle.js' %}"></script>
{% endblock content %}